<div class='well media' id='tweet_<%= i %>'>
    <span id='tweet_text'>
        <% if (typeof tweets[i].text != 'undefined') { %>
            <%= tweets[i].text %>
        <% } else { %>
            Error displaying tweet
        <% } %>
    </span>
    <div class='media-left'>
        
    </div>
    <div class='media-right'>
        
    </div>
</div>