<div class='well media'>
    <% if (typeof tweets[i].text != 'undefined') { %>
        <%= tweets[i].text %>
    <% } else { %>
        Error displaying tweet
    <% } %>
    <div class='media-left'>
        
    </div>
    <div class='media-right'>
        
    </div>
</div>